<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ToDoList VUE 组件间传值</title>
        <script src="./vue.js"></script>
    </head>
    <body>
        <!-- View 试图层 -->
        <!-- 视图层使用ViewModel层提供方法，无需自己实现具体逻辑控制由Vue实现 -->
        <div id="app">
            <!-- 模板指令 v-model 数据双向绑定 -->
            <input type="text" v-model="inputValue"/>
            <!-- 绑定事件 模板标签v-on使用 v-on:动作=事件名称 -->
            <button v-on:click="handleBtnClick">提交</button>
            <ul>
                <!-- 
                    使用自己定义的组件 
                    v-bind:content 父组件向子组件传值 简写v-bind:可忽略 只是保留:
                    v-for 循环数据
                    @delete 监听组件触发出来的方法
                -->
                <todo-item-v2 v-bind:content="item" 
                              :index="index" 
                              v-for="(item, index) in list"
                              @delete="handleItemDelete">
                </todo-item-v2>
            </ul>
        </div>

        <script>

            // Vue局部组件创建方法
            var TodoItemV2 = {
                // 从父组件接收参数
                props: ['content', 'index'],
                // 模板
                template: "<li @click='handleItemClick'>{{content}}</li>",
                methods: {
                    handleItemClick: function() {
                        // 子组件向父组件传值(子组件向上触发一个delete事件并传值)
                        this.$emit("delete", this.index);
                    }
                }
            }

            // Model 数据层
            var app = new Vue({
                el: '#app',
                // 注册局部组件
                components: {
                    TodoItemV2: TodoItemV2
                },
                data: {
                    list: [],
                    inputValue: ''
                },
                methods: {
                    handleBtnClick: function() {
                        this.list.push(this.inputValue)
                        this.inputValue = ''
                    },
                    handleItemDelete: function(index) {
                        this.list.splice(index, 1)
                    }        
                }
            })
        </script>
    </body>
</html>